---
import { getCollection } from "astro:content";
import RecipeCard from "@/components/RecipeCard.astro";
const recipes = await getCollection(
  "recipes",
  ({ data }) => data.published !== false
);

import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <section class="bg-gray-50 text-gray-900">
    <main
      class="max-w-6xl mx-auto p-6 grid sm:grid-cols-2 lg:grid-cols-3 gap-6"
    >
      {
        recipes.map((r) => (
          <RecipeCard
            title={r.data.title}
            description={r.data.description}
            heroImage={r.data.heroImage}
            slug={r.slug}
            prepTimeMins={r.data.prepTimeMins}
            cookTimeMins={r.data.cookTimeMins}
            totalTimeMins={r.data.totalTimeMins}
            servings={r.data.servings}
          />
        ))
      }
    </main>
  </section>
</Layout>
